*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    height: 100vh; 
    background-image: url(fondo.jpg);
    background-size: cover; 
    background-repeat: no-repeat; 
}
.nav_logo {
    color: #ffffff; /* Cambia "#FF0000" por el código hexadecimal del color que desees. */
}
img {
  
     background-image: url(LOGO_ULEAM.png);

  }

h2{
    text-align: center;


}
header{
    background: rgb(4, 162, 31);
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form{
    text-align: left;
    min-height: 0px;
    width: 400px;
    padding: 30px;
    margin: 50px auto 0;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.818);
    box-shadow: 0 0 10px rgb(97, 96, 96);
}


.form .correo .email{
    width: 95%;
    height: 35px;
}

.form .Contraseña .password{
    width: 95%;
    height: 35px;
}

.boton {
    display: flex;
    justify-content: center;
  }
  
  .Inicio,
  .Atras {
    width: 319px;
    height: 35px;
    border: none;
    cursor: pointer;
    border-radius: 8%;  
    background: rgb(4, 162, 31);
    color: #ffffff;
    margin: 0 0px; }
    button {
        display: block;
    
        width: 90px;
        height: 40px;
        border: none;
        cursor: pointer;
        border-radius: 10%;
        background-color: rgb(4, 162, 31);
        color: rgb(255, 255, 255);
        font-weight: bold;
    }