/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    background-image: url(fondo.jpg);
    background-size: cover; 
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(4, 162, 31);
    color: #fff;
    padding: 10px;
    text-align: center;
}

form.Registro {
    max-width: 450%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: left;
    min-height: 50px;
    width: 400px;
  
    margin: 60px auto 0;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.818);
    box-shadow: 0 0 10px rgb(97, 96, 96);
}

h2 {
    text-align: center;
    color: rgb(4, 162, 31);
}

/* Estilo para los campos de entrada */
label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: 85%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilo para los botones */
button[type="submit"] {
    background: rgb(4, 162, 31);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    
}

/* Estilo para los elementos en la misma línea horizontal */
.name,
.apell {
    display: inline-block;
    width: 48%;
}

/* Estilo para el mensaje de error */
#mensaje-error {
    color: red;
    text-align: center;
    margin-top: 10px;
}
/* Estilo para la fecha de nacimiento */
.FechadeNacimiento {
    margin: 10px 0;
}

.FechadeNacimiento label {
    display: block;
    margin-bottom: 5px;
}

.FechadeNacimiento input[type="date"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
